{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "cssDeclarationSortOrder": "alphabetical",
  "tableContentIndentation": "align",
  "vueIndentScriptAndStyle": true,
  "proseWrap": "preserve"
}